extends layout 

block content 
    h1= title

    ul 
        each categoryDoc in categoryDocArray 
            li 
                a(href=`${categoryDoc.url}`) #{categoryDoc.name}

    a(href="category/create") Create