extends layout 

block content 
    h1= title
    p= categoryDoc.description

    ul 
        each itemDoc in itemDocArray 
            p
                a(href=`${itemDoc.url}`) !{itemDoc.name}

    p
        a(href="delete") Delete category
    p
        a(href="update") Update category