extends layout 

block content 
    h1= title

    ul 
        each itemDoc in itemDocArray 
            li 
                //- TODO: denote category next to item in case items of different 
                //- categories have the same name
                a(href=`${itemDoc.url}`) #{itemDoc.name}

    a(href="item/create") Create